body {
    background: linear-gradient(to left, #274046, #E6DADA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    color: black;
    font-size: 20pt;
}

p {
    color: #D1E5E1;
}

.section-title {
    color: #1A1A1A;
}

.movie-card {
    border: 2px solid tomato;
    background-color: rgb(196, 53, 28);
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
}

.movie-card img {
    border-radius: 5px;
    width: 120px;
}